@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.product-carousel {
    width: 100%;
}

.slide {
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: 0.5;
    width: 100%;

}

.product-card {
    width: 20rem;
    margin: 2rem auto;
}

.activeSlide {
    transform: scale(1.1);
    opacity: 1;
}

.arrow {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    z-index: 10;
    
    &-prev {
        cursor: pointer;
        left: 0;
    }

    &-next {
        cursor: pointer;
        right: 0;
    }
}