.app {
    margin: 0;
    padding: 0rem 1rem;
    box-sizing: border-box;
    position: relative;
}

button {
    outline: none !important;
}

.container {
    position: relative;
    max-width: 100%;
    width: 1440px;
}
@media screen and (max-width: 960px) {
    .app {
        padding: 0.5rem 1rem !important;
    }
}

.btn-back-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
    font-size: 2.5rem;
    color: #b79b6c;
    cursor: pointer;
}