$mainColor: #b79b6c;
$mainWhite: #fff;
$mainBlack: #000;
$mainRed: #ff0000;
$mainGray: #c4c4c4;

$subWhite: #ebebeb;
$subBlack: #1f262a;

$textColor: #707070;

%btn-styles {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  height: 100%;
  background: none;
  border: none;
  font-size: 3rem;
  color: $mainColor;
  outline: none;

  &:hover {
    color: #253237;
  }
}

%search-bar-form {
  position: absolute;
  top: 140%;
  right: 0;
  width: 33.8rem;
  height: 2.8rem;
  background-color: $mainColor;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid $mainColor;

  input {
    flex: 5;
    outline: none;
    border: none;
    padding: 0.5rem 1.375rem;
    font-size: 0.9rem;

    &::-webkit-input-placeholder {
      color: #7a7a7a;
    }
  }
  div {
    flex: 2;
    background-color: $mainWhite;
    width: 100%;

    select {
      outline: none;
      border: none;
      height: 100%;
      color: #253237;
      font-size: 0.9rem;

      option {
        font-weight: normal !important;
        display: block !important;
        $mainWhite-space: pre !important;
        min-height: 1.2em !important;
        padding: 0px 2px 1px !important;
        width: 150% !important;
      }
    }
  }
  button {
    flex: 1;
    background-color: $mainColor;
    border: none;
    color: $mainWhite;
    transition: 0.5s;
    padding: 0 !important;

    &:hover {
      background-color: #253237;
      border-color: #253237;
    }
  }
}
