@import "./mixin";
.active-option {
  background-color: $mainColor;
  color: $mainWhite;
}

label {
  margin: 0;
}

.logo-word {
  font-family: "Bungee", cursive;
  font-size: 1.5rem;
  position: relative;
}
.logo-icon {
  position: absolute;
  bottom: 1rem;
  right: -1.3rem;
  transform: rotate(45deg);
}

// custom slider
.prev-slide {
  @extend %btn-styles;
  top: 48% !important;
  left: -2rem;
  color: $mainBlack;
  &:hover {
    color: $mainColor;
  }
}

.next-slide {
  @extend %btn-styles;
  top: 48% !important;
  right: -2rem;
  color: $mainBlack;
  &:hover {
    color: $mainColor;
  }
}

@media screen and(max-width: 960px) {
  .prve-slide {
    display: none;
  }
  .next-slide {
    display: none;
  }

  #back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;

    font-size: 2.5rem;
    cursor: pointer;
    z-index: 9999;

    &:hover {
      color: $mainColor;
    }
  }
}

.slider-title {
  color: $subBlack;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}
.slider-subtitle {
  color: $textColor;
  font-size: 1rem;
}

#back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;

  font-size: 2.5rem;
  cursor: pointer;
  z-index: 9999;

  &:hover {
    color: $mainColor;
  }
}

.category-logo {
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.img-wrapper {
  overflow: hidden;
}
.hover-zoom img:hover {
  transform: scale(1.25);
}
