@import "./mixin";
.filter-by {
  font-size: 1.3rem;
  color: $mainBlack;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid $mainGray;
}

.filter-categories {
  padding-top: 2rem;

  h5 {
    font-size: 1rem;
    padding-bottom: 1.2rem;
  }
}

.filter-price {
  padding-top: 2rem;

  h5 {
    font-size: 1rem;
    padding-bottom: 1.2rem;
  }

  &-slider {
    color: $mainColor !important;
  }
}

.filter-size {
  padding-top: 2rem;

  h5 {
    font-size: 1rem;
    padding-bottom: 1.2rem;
  }
}
