@import "./mixin";
.header__setting-list__item {
  cursor: pointer;
  position: relative;
  z-index: 999;
  form {
    @extend %search-bar-form;
  }

  a {
    color: $mainBlack;
  }

  &:hover a {
    color: $mainColor;
    cursor: pointer;
  }
}

.search-bar-mobile {
  top: 40% !important;
  width: 21.5rem !important;
  box-sizing: border-box !important;

  input {
    flex: 3 !important;
    width: 30px !important;
    padding: 0.6rem !important;

    &::-webkit-input-placeholder {
      color: #7a7a7a !important;
      font-size: 0.65rem !important;
    }
  }

  div {
    flex: 1 !important;
  }

  button {
    flex: 1 !important;
    width: 10px !important;
  }
  @extend %search-bar-form;
}

@media screen and (max-width: 960px) {
  .header__nav-right {
    box-sizing: border-box;
    flex-direction: row;
  }

  .header__nav-right__item {
    display: none;
  }

  .header__nav-right__item-cart {
    margin: 0 !important;
    display: block;
  }

  .header__nav-right__item-setting {
    margin: 0 !important;
    display: block;

    button {
      padding: 0 !important;
    }
  }

  .header {
    position: relative;
  }
}
